@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@0;1&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
main{
    font-family: 'Inter', sans-serif;
}
header,footer{
    font-family: 'Roboto', sans-serif;
}

/*Empieza el header*/
div.fondoAguoso{
    background-color: #1CD1B0;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 2.3rem;
    align-items: center;
}
div.fondoAguoso p{
    margin-left: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
}
div.fondoAzul{
    background-color: #00669F;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 6rem;
    align-items: center;
}
div.fondoAzul img{
    margin-left: 2rem;
    width: 8rem;
}
div.fondoAzul p{
    margin-left: 2rem;
    font-weight: 400;
    font-size: 3rem;
    color: #FFFFFF;
}
div.fondoNegro{
    background-color: #001D2D;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
}
div.fondoNegro ul{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}
li{
    margin-right: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}
/*Termina el header*/
/*Empieza el main*/
main{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
div.padre{
    background-color: #00669F;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 3rem;
    width: 60rem;
    height: 55rem;
    color: #FFFFFF;
}
div.padre h1{
    font-size: 3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 700;
}
p.pgrande{
    font-size: 1.5rem;
    margin-top: 0rem;
    font-weight: 300;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.segundoPadre{
    display: flex;
    flex-direction: row;
}
div.hijito1 label{
    font-size: 1.8rem;
    font-weight: 300;
}
div.hijito1 input{
    width: 22rem;
    height: 3.2rem;
    border-radius: 1rem;
    padding: 0rem;
}
div.hijito2 label{
    font-size: 1.8rem;
    font-weight: 300;
}
div.hijito2 input{
    width: 22rem;
    height: 3.2rem;
    border-radius: 1rem;
}
div.hijito3 textarea{
    width: 22rem;
    height: 20rem;
    border-radius: 1rem;
}
textarea::placeholder{
    padding: 1rem;
    font-size: 1.5rem;
}

section.hijo2{
    margin-left: 2rem;
}
div.hijito4 label{
    font-size: 1.8rem;
    font-weight: 300;
}
div.hijito4 input{
    width: 22rem;
    height: 3.2rem;
    border-radius: 1rem;
    padding: 0rem;
}
input::placeholder{
    font-size: 1.5rem;
    padding: 1rem;
}
div.hijito5 label{
    font-size: 1.8rem;
    font-weight: 300;
}
div.hijito5 input{
    width: 22rem;
    height: 3.2rem;
}
p.titulo{
    font-size: 1.5rem;
    margin-bottom: 0rem;
    font-weight: 300;
}
div.hijito6 label{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}
div.hijito6 input{
    margin-left: 0rem;
}
button{
    width: 30rem;
    height: 5rem;
    margin-top: 2.5rem;
    border-radius: 1rem;
    background-color: #1CD1B0;
    border: none;
    font-size: 3rem;
    font-weight: 700;
}

/*Termina el main*/
/*Empieza el footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00669F;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
}
/*Termina el footer*/